body {
  font-family: sans-serif;
}


h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

.title {
  text-align: center;
}

.header {
  width: 60%;  
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: space-between;
}

.body {
  width: 50%;  
  margin-right: 25%;
  margin-left: 25%;
  display: flex;
}

.left-container {
}

.right-container {
  width: 10%;
  position: sticky;
  right: 0;
  top: 10%;
  z-index: 1000;
  height: 100%;
  padding-left:3%;
}

.rc-navlink {
  padding: 5px;
}

.text-grid {
  display: flex;
}

pre {
  max-height: 100px;
  width: 90%;
  overflow: auto;
}

.leak-text {
  width:40%;
}

.flare-text {
  width:40%;
}

.det-img p {
  text-align: center;
}

.trigd-img p {
  text-align: center;
  font-size: 10px;
}

.cnt-img p {
  text-align: center;
}

.cnt-sum-img p {
  text-align: center;
}

.met-img p {
  text-align: center;
}

.det-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4列に配置 */
    gap: 10px;
}
.det-grid img {
    width: 100%;
    height: auto;
}
.trigd-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4列に配置 */
    gap: 10px;
}
.trigd-grid img {
    width: 100%;
    height: auto;
}
.cnt-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5列に配置 */
    gap: 10px;
}
.cnt-grid img {
    width: 100%;
    height: auto;
}
.cnt-sum-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5列に配置 */
    gap: 10px;
}
.cnt-sum-grid img {
    width: 100%;
    height: auto;
}
.met-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5列に配置 */
    gap: 10px;
}
.met-grid img {
    width: 100%;
    height: auto;
}

.footer-container {
  display: flex;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .left-container {
    width: 100%;
  }
  .right-container {
    display: none;
  }
  .trigd-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 3列に配置 */
      gap: 10px;
  }
  .cnt-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 3列に配置 */
      gap: 10px;
  }
  .cnt-sum-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 3列に配置 */
      gap: 10px;
  }
  .met-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 3列に配置 */
      gap: 10px;
  }
  .footer-contaier {
      display: flex;
  }
}

@media screen and (max-width: 1200px) {
  .body {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }
  .trigd-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3列に配置 */
      gap: 10px;
  }
  .cnt-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3列に配置 */
      gap: 10px;
  }
  .cnt-sum-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 3列に配置 */
      gap: 10px;
  }
  .met-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 3列に配置 */
      gap: 10px;
  }
  .footer-contaier {
      display: flex;
  }
}

@media screen and (max-width: 1600px) {
  .body {
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    align: center;
  }
  .trigd-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 3列に配置 */
      gap: 10px;
  }
  .trigd-grid img {
      width: 100%;
      height: auto;
  }
  .cnt-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr); /* 3列に配置 */
      gap: 10px;
  }
  .cnt-grid img {
      width: 100%;
      height: auto;
  }
  .cnt-sum-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 3列に配置 */
      gap: 10px;
  }
  .cnt-sum-grid img {
      width: 100%;
      height: auto;
  }

  .met-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 3列に配置 */
      gap: 10px;
  }
  .met-grid img {
      width: 100%;
      height: auto;
  }
  .footer-contaier {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      display: flex;
      justify-content: space-between;
  }
    
}

